In [2]:
x="PLuto is a planet"
y='Pluto is a planet'
x==y

False

In [4]:
print("Pluto's a planet")
print('My dog name is "Pluto"')

Pluto's a planet
My dog name is "Pluto"

In [1]:
print('Pluto\'s a planet')

Pluto's a planet

In [2]:
hello="hello\nworld"
print(hello)

hello
world

In [3]:
tripleqouted_hello="""hello
world"""
print(tripleqouted_hello)

hello
world

In [4]:
print("hello")
print("world")
print("hello",end=' ')
print("world",end=' ')

hello
world
hello world

In [5]:
planet='Pluto'
planet[0]

'P'

In [6]:
planet[-3:]

'uto'

In [7]:
planet[-2:]

'to'

In [8]:
len(planet)

5

In [9]:
[char+"!" for char in planet]

['P!', 'l!', 'u!', 't!', 'o!']

In [10]:
#strings are immutable in Python
planet[0]='B'

TypeError: 'str' object does not support item assignment

In [11]:
claim='Pluto is a planet'
claim.upper()

'PLUTO IS A PLANET'

In [12]:
claim.lower()

'pluto is a planet'

In [13]:
claim.index("plan")

11

In [15]:
claim.startswith("Plut")

True

In [16]:
claim.startswith("Plo")

False

In [18]:
claim.endswith("planet")

True

In [19]:
words=claim.split()

In [20]:
words

['Pluto', 'is', 'a', 'planet']

In [21]:
datestr="12-7-2019"
day,mounth,year=datestr.split("-")

In [25]:
print(day,mounth,year,sep="-")

12-7-2019

In [31]:
"/".join([day,mounth,year])

'12/7/2019'

In [32]:
'üëè'.join([word.upper()+"!" for word in words])

'PLUTO!üëèIS!üëèA!üëèPLANET!'

In [34]:
planet+", we miss you."

'Pluto, we miss you.'

In [35]:
position=9
planet+" you'll always be the "+position+"th planet to me"

TypeError: can only concatenate str (not "int") to str

In [37]:
position=9
planet+" you'll always be the "+str(position)+"th planet to me"

"Pluto you'll always be the 9th planet to me"

In [38]:
"{}, you'll always be the {}th planet to me".format(planet,position)

"Pluto, you'll always be the 9th planet to me"

In [39]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
"{} weights about {:.2} kilograms({:.3%} of Earth's mass). It is home to {:,} plutonians".format(planet,pluto_mass,pluto_mass/earth_mass,population)

"Pluto weights about 1.3e+22 kilograms(0.218% of Earth's mass). It is home to 52,910,390 plutonians"

In [42]:
s="""PLuto's a {0}
No it's a {1}
No, {0}
{1}""".format("planet","dwarf planet")
print(s)

PLuto's a planet
No it's a dwarf planet
No, planet
dwarf planet

In [44]:
#dictionaries
number={"one":1,
       "two":2,
       "three":3}

In [46]:
number

{'one': 1, 'two': 2, 'three': 3}

In [47]:
number['two']

2

In [48]:
number['eleven']=11

In [49]:
number

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [50]:
number['one']="Pluto"

In [51]:
number

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [53]:
planets=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial={planet[0]:planet for planet in planets}
planet_to_initial

{'M': 'Mars',
 'V': 'Venus',
 'E': 'Earth',
 'J': 'Jupiter',
 'S': 'Saturn',
 'U': 'Uranus',
 'N': 'Neptune'}

In [55]:
planet_to_list=[planet[0] for planet in planets]
planet_to_list

['M', 'V', 'E', 'M', 'J', 'S', 'U', 'N']

In [56]:
'Saturn' in planets

True

In [57]:
'Saturn' in planet_to_initial

False

In [58]:
planet_to_initial={planet:planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [60]:
'Saturn' in planet_to_initial

True

In [62]:
for k in planet_to_initial:
    print("{} = {}".format(k,planet_to_initial[k]))

Mercury = M
Venus = V
Earth = E
Mars = M
Jupiter = J
Saturn = S
Uranus = U
Neptune = N

In [67]:
' '.join(sorted(planet_to_initial))

'Earth Jupiter Mars Mercury Neptune Saturn Uranus Venus'

In [68]:
for key,value in planet_to_initial.items():
    print("{} begins with {}".format(key,value))

Mercury begins with M
Venus begins with V
Earth begins with E
Mars begins with M
Jupiter begins with J
Saturn begins with S
Uranus begins with U
Neptune begins with N