In [1]:
import pandas as pd

In [2]:
melbourne_data=pd.read_csv("melb_data.csv")
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [3]:
melbourne_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
from sklearn.model_selection import train_test_split
y=melbourne_data.Price
y

0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
5         941000.0
6        1876000.0
7        1636000.0
8         300000.0
9        1097000.0
10        700000.0
11       1350000.0
12        750000.0
13       1172500.0
14        441000.0
15       1310000.0
16       1200000.0
17       1176500.0
18        955000.0
19        890000.0
20       1330000.0
21        900000.0
22       1090000.0
23        500000.0
24       1100000.0
25       1315000.0
26        426000.0
27       1447500.0
28        457000.0
29       1135000.0
           ...
13550     595000.0
13551     682000.0
13552     640000.0
13553    2720000.0
13554    1715000.0
13555    3100000.0
13556     350000.0
13557    1753000.0
13558    1745000.0
13559    1190000.0
13560    1400000.0
13561    1288000.0
13562    1450000.0
13563    1271000.0
13564     540000.0
13565    1263500.0
13566    1250000.0
13567    1316000.0
13568     951000.0
13569    1323000.0
13570     970000.0
13571    1330000.0
13572     650000.0
13573     635000.0
13574     582000.0
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64

In [5]:
melbourne_features=['Rooms', 'Bathroom', 'Landsize', 'BuildingArea','YearBuilt', 'Lattitude', 'Longtitude']
X=melbourne_data[melbourne_features]
X

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
0,2,1.0,202.0,NaN,NaN,-37.79960,144.99840
1,2,1.0,156.0,79.0,1900.0,-37.80790,144.99340
2,3,2.0,134.0,150.0,1900.0,-37.80930,144.99440
3,3,2.0,94.0,NaN,NaN,-37.79690,144.99690
4,4,1.0,120.0,142.0,2014.0,-37.80720,144.99410
5,2,1.0,181.0,NaN,NaN,-37.80410,144.99530
6,3,2.0,245.0,210.0,1910.0,-37.80240,144.99930
7,2,1.0,256.0,107.0,1890.0,-37.80600,144.99540
8,1,1.0,0.0,NaN,NaN,-37.80080,144.99730
9,2,1.0,220.0,75.0,1900.0,-37.80100,144.99890
10,2,2.0,0.0,NaN,NaN,-37.81100,145.00670
11,3,2.0,214.0,190.0,2005.0,-37.80850,144.99640
12,2,2.0,0.0,94.0,2009.0,-37.80780,144.99650
13,2,1.0,195.0,NaN,NaN,-37.80840,144.99730
14,1,1.0,0.0,NaN,NaN,-37.80160,144.99880
15,2,1.0,238.0,97.0,1890.0,-37.80900,144.99760
16,3,2.0,113.0,110.0,1880.0,-37.80560,144.99300
17,3,1.0,138.0,105.0,1890.0,-37.80210,144.99650
18,3,1.0,183.0,NaN,NaN,-37.80220,144.99750
19,2,1.0,150.0,73.0,1985.0,-37.80110,145.00040
20,4,2.0,780.0,135.0,1900.0,-37.80730,144.99520
21,3,2.0,0.0,NaN,2010.0,-37.80930,144.99590
22,3,2.0,4290.0,27.0,NaN,-37.80780,144.99650
23,2,1.0,0.0,60.0,1970.0,-37.80150,144.99720
24,2,2.0,124.0,135.0,2013.0,-37.80790,144.99770
25,2,1.0,147.0,85.0,1900.0,-37.80800,144.99400
26,1,1.0,0.0,NaN,NaN,-37.80160,144.99880
27,3,3.0,166.0,174.0,2012.0,-37.80170,145.00010
28,1,1.0,0.0,50.0,NaN,-37.80780,144.99650
29,2,2.0,98.0,128.0,1920.0,-37.80050,144.99520
...,...,...,...,...,...,...,...
13550,3,1.0,589.0,NaN,NaN,-37.76599,144.84445
13551,4,1.0,534.0,NaN,1970.0,-37.79161,144.80461
13552,3,1.0,616.0,NaN,NaN,-37.79798,144.81529
13553,4,3.0,1005.0,NaN,1920.0,-37.82421,145.10352
13554,3,1.0,438.0,151.0,1906.0,-37.83015,145.09035
13555,4,2.0,832.0,NaN,NaN,-37.83564,145.10919
13556,3,1.0,466.0,103.0,2003.0,-37.86744,144.65609
13557,4,2.0,689.0,NaN,2012.0,-37.76673,145.16555
13558,4,2.0,741.0,NaN,NaN,-37.75843,145.10888
13559,3,1.0,723.0,NaN,NaN,-37.76684,145.11309
13560,5,3.0,717.0,310.0,1963.0,-37.76630,145.11320
13561,4,2.0,948.0,NaN,NaN,-37.76078,145.10696
13562,3,1.0,312.0,NaN,NaN,-37.75870,144.99966
13563,3,1.0,470.0,151.0,1950.0,-37.75937,145.01534
13564,3,1.0,607.0,102.0,1970.0,-37.69423,144.88002
13565,4,2.0,791.0,NaN,NaN,-37.84467,145.19276
13566,4,2.0,986.0,NaN,NaN,-37.84679,145.20051
13567,5,3.0,696.0,NaN,NaN,-37.73501,145.08341
13568,4,2.0,704.0,200.0,1981.0,-37.85639,145.23536
13569,4,2.0,551.0,NaN,NaN,-37.87608,145.22390
13570,3,2.0,674.0,NaN,NaN,-37.88360,145.22805
13571,4,2.0,717.0,191.0,1980.0,-37.86887,145.22116
13572,2,1.0,210.0,79.0,2006.0,-37.70657,145.07878
13573,4,2.0,662.0,172.0,1980.0,-37.89327,144.64789
13574,3,2.0,256.0,NaN,NaN,-37.67917,144.89390
13575,4,2.0,652.0,NaN,1981.0,-37.90562,145.16761
13576,3,2.0,333.0,133.0,1995.0,-37.85927,144.87904
13577,3,2.0,436.0,NaN,1997.0,-37.85274,144.88738
13578,4,1.0,866.0,157.0,1920.0,-37.85908,144.89299
13579,4,1.0,362.0,112.0,1920.0,-37.81188,144.88449

# First Approach, dropping all missing columns

In [6]:
train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=1)

In [7]:
cols_with_missing=[col for col in train_X.columns if train_X[col].isnull().any()]
cols_with_missing

['BuildingArea', 'YearBuilt']

In [19]:
reduced_train_X=train_X.drop(cols_with_missing,axis=1)
reduced_val_X=val_X.drop(cols_with_missing,axis=1)
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
melbourne_model=RandomForestRegressor(random_state=1)
melbourne_model.fit(reduced_train_X,train_y)
val_predicted=melbourne_model.predict(reduced_val_X)
print("MAE from approch 1(Dropping all missing columns):")
print(mean_absolute_error(val_predicted,val_y))

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

MAE from approch 1(Dropping all missing columns):
188984.57351146644

# Second Approach, imputation

In [28]:
from sklearn.impute import SimpleImputer

In [30]:
my_imputer=SimpleImputer()
imputed_train_X=pd.DataFrame(my_imputer.fit_transform(train_X))
imputed_val_X=pd.DataFrame(my_imputer.fit_transform(val_X))

In [33]:
imputed_train_X.columns=train_X.columns
imputed_val_X.columns=val_X.columns

In [41]:
melbourne_model=RandomForestRegressor(random_state=1)
melbourne_model.fit(imputed_train_X,train_y)
val_predicted=melbourne_model.predict(imputed_val_X)
print("MAE from approch 2(Impute the missing values):")
print(mean_absolute_error(val_predicted,val_y))

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

MAE from approch 2(Impute the missing values):
185928.67568973982

# Third Approach, extension to imputation

In [51]:
train_X_plus=train_X.copy()
val_X_plus=val_X.copy()

In [52]:
for col in cols_with_missing:
    train_X_plus[col+" was missing"]=train_X_plus[col].isnull()
    val_X_plus[col+" was missing"]=val_X_plus[col].isnull()

In [53]:
imputed_train_X_plus=pd.DataFrame(my_imputer.fit_transform(train_X_plus))
imputed_val_X_plus=pd.DataFrame(my_imputer.fit_transform(val_X_plus))
imputed_train_X_plus.columns=train_X_plus.columns
imputed_val_X_plus.columns=val_X_plus.columns

In [55]:
melbourne_model=RandomForestRegressor(random_state=1)
melbourne_model.fit(imputed_train_X_plus,train_y)

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=1, verbose=0, warm_start=False)

In [59]:
val_predicted=melbourne_model.predict(imputed_val_X_plus)
print("MAE from approach 3(extension to imputation):")
print(mean_absolute_error(val_predicted,val_y))

MAE from approach 3(extension to imputation):
187422.20193421698